.experience{
    display: flex;
    flex-wrap:nowrap;
    margin-top: 20px;
    margin-left: 14%;
    margin-right: 14%;
    
}

.experience img{
    width: 400px;
    height: 350px;
    padding: 2%;
    border: solid 5px wheat;
    margin-right: 1%;
    margin-top: 4%;
}

.experienceText{
    margin: 1%;
    text-align: justify;
    width: 80%;
}

.experience h1{
    font-size: 2em;
    text-align: center;
}

.education dt,dd{
    padding: 1%;
    align-content: center;

}