.skills{
    display: flex;
    flex-wrap:nowrap;
    margin-top: 20px;
    margin-left: 14%;
    margin-right: 14%;
    
}

.skills img{
    width: 500px;
    height: auto;
    padding: 2%;
    border: solid 5px wheat;
    margin-right: 1%;
    margin-top: 4%;
}

.skillsText{
    margin: 1%;
    text-align: justify;
    width: 80%;
}

.skills h1{
    font-size: 2em;
    text-align: center;
}

.skills h3{
    padding: 1%;
    align-content: center;

}