*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 100vw;
    min-height: 100%;
    background: linear-gradient(rgb(0, 0, 20), rgb(1, 29, 50),rgb(57, 56, 56)) no-repeat center;
}
header{
    min-height: 60px;
    display: flex;
    gap: 200px;
    background-color: none;
    align-items: center;
    justify-content: center;
    & #home{
        margin: 15px;
        border: none;
        z-index: 1;
        padding: 4px;
    }
    button{
        border:none;
        color: wheat;
        background: none;
        padding: 5px 10px;
        border-radius: 7px;
        border-right: 1px solid wheat;
        transition: 0.5s;
        &:hover{
            background-color: rgba(29, 7, 174, 0.471);
            color: white;
            border: 1px solid wheat;
            cursor: pointer;
        }
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            display: flex;
            list-style-type: none;
            li{
                button{
                    font-size: 1.1em;
                }
            }
        }
    }
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size:3em;
    }
    p{
        text-align: justify;
        font-size: 1.2em;
        padding: 0px 10vw;
        img{
            width: 160px;
            height: auto;
            float: left;
            margin: 10px 15px 0px 0px;
            border: solid 1px wheat;
            padding: 10px;
        }
    }
}
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 60vw;
        li{
            text-align: justify;
            padding:10px;
            border-radius: 15px;
            border:wheat solid 5px;
            color: white;
            display: flex;
            width: auto;
            flex-direction: column;
            background: linear-gradient(rgb(31, 1, 101),rgb(2, 37, 133),rgb(6, 44, 120));

            p{display: none;}
            &:hover{p{display: block;}}
        }
    }
}
.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    ul li {
        list-style: none;
        ul li{
            list-style: inside;
        }
    }
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    table{
        border:1px solid wheat;
        tr{
            height: 24px;
            th,td{
                text-align: center;
                border: solid 1px wheat;
                padding: 15px;
            }
        }
    }
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li{
            display: flex;
            flex-direction: column;
            border: wheat solid 1px;
            background: radial-gradient(black,rgb(65, 65, 65),black);
            border-radius: 15px;
            padding: 15px;
            margin: 15px;
            max-width: 800px;
            gap: 10px;
            align-items: center;
            h2{
                font-size: 2em;
                text-align: center;
                a{
                    color:white;
                    text-decoration: underline;
                    &:hover{
                        color: wheat;
                        text-decoration: underline;
                    }
                    &:active{
                        color: red;
                    }
                }
            }
            img{
                height: auto;
                width:300px;
            }
            p{
                text-align: justify;
                font-size: 1.2em;
            }
        }
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        a{
            padding: 15px;
            min-width: 200px;
            font-size: 24px;
            border-radius: 15px;
            text-decoration: none;
            border: 2px solid wheat;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(black,rgb(65, 65, 65),black);
            color: white;
            transition: 1s;
            &:hover{
                background: rgb(176, 4, 4);
                color: wheat;
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        background: linear-gradient(black,rgb(65, 65, 65),black);
        border: solid 3px wheat;
        padding: 16px;
        border-radius: 15px;
        position: relative;
        input, textarea{
            width: 400px;
            font-size: 1.05em;
            padding: 10px;
            text-align: center;
            background-color: black;
            color: white;
            border: wheat solid 1px;
            border-radius: 10px;
            &::placeholder{
                color: rgb(163, 163, 163);
            }
        }
        button{
            width: 70px;
            padding: 5px 10px;
            position: relative;
            left: 320px;
            border-radius: 10px;
            border: wheat solid 1px;
            background: linear-gradient(black,rgb(58, 58, 58),black);
            color: wheat;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                background: rgb(176, 4, 4);
                color: white;
            }
        }
    }

}
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 60vh;
    color: white;
    gap: 20px;
    padding-bottom: 15px;
    h1{
        font-size: 3em;
    }
    a{
        width: 200px;
        height: 200px;
        background: radial-gradient(black,rgb(30, 30, 30),black);
        border-radius: 100%;
        border: solid 10px goldenrod;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition:0.5s;
        & #middle-line{
            width: 15px;
            height: 90px;
            background: goldenrod;
            position: absolute;
            top: 25px;
        }
        & #triangle{
            position: absolute;
            border-top: 40px solid goldenrod;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 10px solid transparent;
            bottom: 20px;
        }
        &:hover{
            box-shadow: inset   4px 5px 2px white, inset 4px -5px 10px white, inset -2px -5px 5px white;
        }
    }
}
footer{
    position: relative;
    bottom: 0;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    hr{
        width:500px;
        height: 2px;
        color: wheat;
    }
    span{
        color: white;
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
@media (max-width:680px){
    header{
        gap: 0;
        position: relative;
        h1{
            position: absolute;
            left: 40px;
            top: 15px;
            &:hover{
                cursor: pointer;
            }
        }
        h4{
            position: absolute;
            left: 40px;
            top: 45px;
            &:hover{
                cursor: pointer;
            }
        }
        nav{
            transition: 0.5s;
            & #menu-toggle{
                position: absolute;
                top:10px;
                z-index: 1;
                left:75vw;
                width: 80px;
                height: 60px;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 0 23px;
                border-radius: 10px;
                &::before{
                    content:'';
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background-color: wheat;
                    transform: translateY(-8px);
                    transition: 0.5s;
                }
                &::after{
                    content:'';
                    width: 30px;
                    height: 2px;
                    background-color: wheat;
                    transform: translateY(8px);
                    transition: 0.5s;
                    box-shadow: 0 -8px 0 wheat;
                }
                &:hover{
                    background-color: rgba(7, 7, 75, 0.571);
                    border: solid 1px wheat;
                }
            }
            ul{
                opacity: 0;
            }
        }    
        .active-menu{
            transition: 0.5s;
        }
        .active-menu #menu-toggle::before{
            transform: rotate(45deg) translateY(0px);
        }
        .active-menu #menu-toggle::after{
            transform: rotate(-45deg) translateY(0px);
            box-shadow: 0 0 0;
        }
        .active-menu ul{
            transition: 0.5s;
            width: 100vw;
            top:80px;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            position: absolute;
            background:linear-gradient(rgb(0, 0, 20), rgb(1, 29, 50),rgb(57, 56, 56)) no-repeat center;
            padding-bottom: 100vh;
        }
        .active-menu ul li button{
            border: none;
            &:hover{
                border: solid 1px wheat;
            }
        }
    }
    .education{
        min-height: 100vh;
    }
    .contact{
        form{
            width: 375px;
            input,textarea{
                width: auto;
            }
            button{
                left: 0;
            }
        }
    }
    .download{
        height: 95vh;
    }
    footer{
        hr{
            width:350px;
        }
    }
}